@import "../../../styles.scss";
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $background-color;
  padding: 10px;
  margin: -10px;
  .add-task {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: bold;
    //  border:2px red solid;
    padding: 20px;
    button {
      min-width: 100px;
      height: 39px;
    }
    .filter {
      margin-right: 5px;
      ::ng-deep .mdc-text-field {
        min-height: 39px;
        outline: none;
      }
      ::ng-deep .select-form {
        background-color: white;
        max-height: 40px;
        outline: none;

        font-size: 2px;
      }
      input {
        outline: none;
      }
      ::ng-deep .select-form mat-select .mat-mdc-select-trigger {
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
        color: #757575;
      }
    }

    .add-task:hover {
      color: black;
    }
  }
  div,
  h2 {
    color: white;
  }
  h2 {
    margin-left: 5px;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    // margin: auto;

    button {
      margin-top: 5px;

      //width: 90%;
    }
  }
}
